openapi: 3.2.0
info:
  title: CJ Affiliate REST Advertiser Lookup API
  version: '2026-08-13'
  description: CJ Affiliate's published REST APIs, transcribed from CJ's own developer documentation.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developers.cj.com/
  x-source:
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Overview.md
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Link%20Search.md
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Advertiser%20Lookup.md
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Publisher%20Lookup.md
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Commission%20Detail%20(Legacy).md
  - https://production-docs-assets.p.cjpowered.com/REST%20APIs/Automated%20Offer%20Feed.md
  - https://production-docs-assets.p.cjpowered.com/Publisher%20Site%20Tracking/Click%20Events%20API.md
  - https://production-docs-assets.p.cjpowered.com/Publisher%20Site%20Tracking/Publisher%20Tracking%20API.md
servers:
- url: https://link-search.api.cj.com
  description: Link Search API (also serves the Automated Offer Feed)
- url: https://advertiser-lookup.api.cj.com
  description: Advertiser Lookup API
- url: https://publisher-lookup.api.cj.com
  description: Publisher Lookup API
- url: https://commission-detail.api.cj.com
  description: Commission Detail API (Legacy, deprecated)
- url: https://clicks.api.cj.com
  description: Click Events API
- url: https://publishertracking.api.cj.com
  description: Publisher Tracking API
security:
- personalAccessToken: []
tags:
- name: Advertiser Lookup
  description: Publisher-side advertiser and program discovery.
paths:
  /v2/advertiser-lookup:
    get:
      tags:
      - Advertiser Lookup
      operationId: advertiserLookup
      summary: Look up advertisers and their program details
      description: 'Find advertisers in the CJ network by CID, program name or program URL, joined or not joined, with account status, EPC, categories, link types and default Program Term commission rates. Commission rates for Situations and Promotional Properties are NOT included — use the GraphQL Program Terms API for those. Publishers only. Documented call limit: 25 calls per minute.'
      servers:
      - url: https://advertiser-lookup.api.cj.com
      parameters:
      - name: requestor-cid
        in: query
        required: true
        description: CID of the company you are making the request for. You must be a member of that company.
        schema:
          type: string
      - name: advertiser-ids
        in: query
        description: Comma-separated advertiser CIDs, or `joined`, or `notjoined`. An empty string currently behaves the same as `notjoined`.
        schema:
          type: string
      - name: advertiser-name
        in: query
        description: Advertiser program name, or program URL.
        schema:
          type: string
      - name: keywords
        in: query
        description: Keywords found in the advertiser's name, product name or product description. Supports `+` and `-`; default logic is OR.
        schema:
          type: string
      - name: page-number
        in: query
        description: Page of the result set to view.
        schema:
          type: integer
      - name: records-per-page
        in: query
        description: Records per page. Defaults to 25, maximum 100.
        schema:
          type: integer
          default: 25
          maximum: 100
      - name: mobile-tracking-certified
        in: query
        description: Limit to advertisers certified (or not certified) for mobile tracking.
        schema:
          type: string
          enum:
          - 'True'
          - 'False'
      responses:
        '200':
          description: An XML `<cj-api><advertisers>` document.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AdvertiserLookupResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    AdvertiserAction:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          description: The action's integration type.
        id:
          type: string
        commission:
          type: object
          description: The advertiser's default commission for the action, plus per-item-list rates where item lists exist. Excludes Situations and Promotional Property rates — use the GraphQL Program Terms API for those.
    AdvertiserLookupResponse:
      type: object
      description: The `<cj-api><advertisers>` document.
      properties:
        advertisers:
          type: object
          properties:
            total-matched:
              type: integer
            records-returned:
              type: integer
            page-number:
              type: integer
            advertiser:
              type: array
              items:
                $ref: '#/components/schemas/Advertiser'
      xml:
        name: cj-api
    CjApiError:
      type: object
      description: The `<cj-api>` XML envelope carrying an error message.
      properties:
        error-message:
          type: string
      xml:
        name: cj-api
    Advertiser:
      type: object
      properties:
        advertiser-id:
          type: string
          description: The advertiser's CID.
        account-status:
          type: string
          description: '`Active` (in good standing and live in the CJ network) or `Deactive` (temporarily deactivated). Only shown for your joined advertisers.'
        seven-day-epc:
          type: string
          description: 7-day EPC. Currently defaults to USD.
        three-month-epc:
          type: string
          description: 3-month EPC. Currently defaults to USD.
        language:
          type: string
        advertiser-name:
          type: string
        program-url:
          type: string
        relationship-status:
          type: string
          description: '`joined` or `notjoined`.'
        mobile-supported:
          type: string
        mobile-tracking-certified:
          type: string
        cookieless-tracking-enabled:
          type: string
          description: Whether the advertiser's CJ transactions used cookieless tracking appropriately over the previous three days.
        network-rank:
          type: string
        performance-incentives:
          type: string
        primary-category:
          type: object
          properties:
            parent:
              type: string
            child:
              type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/AdvertiserAction'
        link-types:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: 'HTTP 401 for all CJ REST APIs. Documented cases: no message at all (incorrect resource URL); "You must specify a developer key." (no developer key specified); "Not Authenticated: xxxxxx" (invalid developer key, echoing the key used). A request with no Authorization header returns `<cj-api><error-message>You must provide an Authorization header.</error-message></cj-api>`.'
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/CjApiError'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      description: 'A CJ Personal Access Token created at https://developers.cj.com/account/personal-access-tokens, sent as `Authorization: Bearer <token>`. CJ''s REST APIs also accept a legacy Developer Key in the same Authorization header.'
